{% extends 'base.html' %}
{% block title %} User Page {% endblock %}

{% block content %}
<div id="user-info">
<h1>{{user.first_name}} {{user.last_name}}</h1>
<img class="img" src="{{user.image_url}}" alt="">

<form action="/user/{{user.id}}/delete" method="POST">
    <button>Delete</button>
</form>
<a href="/edit-user/{{user.id}}">Edit</a>
</div>
<a href="/">Back</a>
<form action="/user/{{user.id}}/posts/new" method="GET">
    <button>New Post</button>
</form>
<div>
    <h2>POSTS</h2>
    
    <ul>
        {% for post in posts %}
        <li><a href="/user/{{user.id}}/post/{{post.id}}">{{post.title}}</a></li>
        {% endfor %}
    </ul>
   

</div>
{% endblock %}